#Avis{
    background-image:url(./img.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.infos{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    justify-content: center;

}
.infos p{
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin: 0;
}
.infos .comment{
    text-align: center;
    margin:0 0 30px 0;
}

.ensemble{

    height: 401px;
    max-width: 1200px;
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;

}
.container_ensemble{

    display: flex;
    justify-content: center;
}
.ensemble img{
    margin: 15px 0 0 30px;
    height: 386px;
}
.button_lien{
    border-radius: 8px;
    font-weight: 700;
    font-size: 17px;
    background-color: orangered;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    box-sizing: border-box;
    padding: 0 30px;
    transition: .2s;
    border: 0;
    cursor: pointer;
    text-align: center;
    white-space: normal;
    text-decoration: none;
}
.stars{
    margin: 0 0 30px 0;
}
body{
    margin: 0;
    font-family:'arial';
}
/* #testimony{
    background: #515151;
    width: 100%;
}
#testimony .b1 .pp .img{
    position: absolute;
height: 50px;
left: 0%;
right: 77.92%;
top: 0px;

background: #101010;
border-radius: 15px;
}
#testimony .b1 .namestars{
    position: absolute;
height: 50px;
left: 28.71%;
right: 4.09%;
top: 0px;
}
#testimony .b1 .pp{
    position: absolute;
    height: 50px;
    left: 7.51%;
    right: 7.51%;
    top: 20px;
}
#testimony .b1 .com p{
    position: absolute;
width: 234px;
height: 47px;
left: calc(50% - 234px/2 + 3.8px);
top: 87px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* color: #909090;
}
#testimony .b1 .time p{
    position: absolute;
height: 15px;
left: 7.51%;
right: 61.78%;
bottom: 20px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height */

/* display: flex;
align-items: center;

color: #FFFFFF;
}   */